.nav {
  grid-area: n;
  background-color: rgb(208, 119, 119);
  padding: 20px;
  border-right: black 1px solid;
  
}
.item a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.item :active{
  color: rgb(174, 255, 0);
  /* cursor:pointer; */
}
.item a.activeLinc{
  color: rgb(108, 61, 92);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor:pointer;
}
