
.dialogs{
display: flex;
flex-direction: row;
justify-content:space-around;

}
.dialogsItems{
padding: 10px;
}
.dialogsItems .active{
    color:gold
}
.dialog{

}
.messages{
    padding: 10px;

}
.message{

}
